<%- include('partials/header')%>

<div class="wrapper">
	<div id="loader"></div>

    <script src="https://app.mt24fx.online/vendor/sweetalert/sweetalert.all.js"></script>
    <header class="main-header">
      <div class="d-flex align-items-center logo-box justify-content-start">

      </div>
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <div class="app-menu">
              <ul class="header-megamenu nav">
                  <li class="btn-group nav-item">
                      <a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light"
                          data-toggle="push-menu" role="button">
                          <i data-feather="align-left"></i>
                      </a>
                  </li>
                  <li class="btn-group nav-item d-none d-xl-inline-block">
                      
                  </li>
                  <li class="btn-group nav-item d-none d-xl-inline-block">
                      
                  </li>
                  <li class="btn-group nav-item d-none d-xl-inline-block">
                      
                  </li>
              </ul>
          </div>

          <div class="navbar-custom-menu r-side">
              <ul class="nav navbar-nav">
                  <li class="btn-group d-lg-inline-flex d-none">
                      
                  </li>
                  <li class="btn-group nav-item d-lg-inline-flex d-none">
                      <a href="#" data-provide="fullscreen"
                          class="waves-effect waves-light nav-link full-screen btn-primary-light" title="Full Screen">
                          <i data-feather="maximize"></i>
                      </a>
                  </li>
                  <!-- Notifications -->
                  <li class="dropdown notifications-menu">
                      
                  </li>

                  <!-- User Account-->
                  <li class="dropdown user user-menu">
                      <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light"
                          data-bs-toggle="dropdown" title="User">
                          <i data-feather="user"></i>
                      </a>
                      <ul class="dropdown-menu animated flipInX">
                          <li class="user-body">
                            <a class="dropdown-item" href="#"> <%=user.fulllname%></a>
                            <a class="dropdown-item" href="/account/<%=user._id%>">
								<i class="ri-user-line"></i> Profile</a>
                            <a class="dropdown-item" href="/assets">
								<i class="ri-wallet-fill"></i> My Asset</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i class="ri-logout-box-r-line"></i>Logout</a> 
								                              
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>

  </header>
    <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">
				<li class=" active">
				  <a href="/adminRoute">
                    <i class="ri-dashboard-line"></i>
					<span>Dashboard</span>
				  </a>
				</li>
       
				<li class=" ">
				  <a href="/allFunding">
                    <i class="ri-add-circle-line"></i>
					<span>All Deposit</span>
				  </a>
				</li>

                <!-- <li class=" ">
                    <a href="/depositHistory">
                        <i class="ri-arrow-left-right-fill"></i>
                      <span>Deposit History</span>
                    </a>
                  </li> -->
                  
                
                <li class=" ">
				  <a href="/allWidthdrawals">
					<i class="ri-indeterminate-circle-line"></i>
					<span>All Withdrawal </span>
				  </a>
				</li>
                
                <!-- <li class=" ">
                    <a href="/widthdrawHistory">
                        <i class="ri-arrow-left-right-fill"></i>
                      <span>All Verificatio</span>
                    </a>
                  </li> -->

			
                
				<li class=" ">
				  <a href="/allVerify">
					<i class="ri-shield-check-fill"></i>
					<span>All Verification</span>
				  </a>
				</li>
                                			  </ul>
		  </div>
		</div>
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="table-responsive">
    <%if(verify != ''){%>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Verification ID</th>
          <th scope="col" class="text-end">Action</th>
        </tr>
      </thead>
  
      <tbody>
         <% verify.forEach((element, index) => {  %>
          <tr class="align-middle">
            <td><h5 class="text-white"><%=index %></h5></td>
            <td><h5 class="text-white"><%= element._id %></h5></td>
             <!-- <td><img src="/IMG_UPLOADSelement.image%>" alt="Image" style="width: 800px; height: fit-content;" ></td>  -->
            <td class="text-end">
              <div class="d-flex flex-row justify-content-end gap-2">
                <a href="/viewVerify/<%=element._id%> " type="button" class="btn btn-primary btn-small">
                  <i class="bi bi-eye"></i>
                </a>
               
                <form action="/deleteVerification/<%=element._id%>?_method=DELETE" method="POST" class="position-relative">
                  <button type="submit" class="btn btn-danger btn-small">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
         <%  }) %>
      </tbody>
    </table>
    <% }else{%>
      <h1 class="text-center text-secondary mt-5">No Verification request yet!</h1>
      <% } %>
  </div> 
  
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>








<%- include('partials/footer')%>












