<%- include('partials/dashboardHeader')%>


<div class="wrapper">
	<div id="loader"></div>

    <script src="https://app.mt24fx.online/vendor/sweetalert/sweetalert.all.js"></script>
    <header class="main-header">
      <div class="d-flex align-items-center logo-box justify-content-start">
       
      </div>
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <div class="app-menu">
              <ul class="header-megamenu nav">
                  <li class="btn-group nav-item">
                      <a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light"
                          data-toggle="push-menu" role="button">
                          <i data-feather="align-left"></i>
                      </a>
                  </li>
                  <li class="btn-group nav-item d-none d-xl-inline-block">
                      
                  </li>
                  <li class="btn-group nav-item d-none d-xl-inline-block">
                      
                  </li>
                  <li class="btn-group nav-item d-none d-xl-inline-block">
                      
                  </li>
              </ul>
          </div>

          <div class="navbar-custom-menu r-side">
              <ul class="nav navbar-nav">
                  <li class="btn-group d-lg-inline-flex d-none">
                      
                  </li>
                  <li class="btn-group nav-item d-lg-inline-flex d-none">
                      <a href="#" data-provide="fullscreen"
                          class="waves-effect waves-light nav-link full-screen btn-primary-light" title="Full Screen">
                          <i data-feather="maximize"></i>
                      </a>
                  </li>
                  <!-- Notifications -->
                  <li class="dropdown notifications-menu">
                      
                  </li>

                  <!-- User Account-->
                  <li class="dropdown user user-menu">
                      <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light"
                          data-bs-toggle="dropdown" title="User">
                          <i data-feather="user"></i>
                      </a>
                      <ul class="dropdown-menu animated flipInX">
                          <li class="user-body">
                            <a class="dropdown-item" href="#"> <%=user.fullname%></a>
                            <a class="dropdown-item" href="/account/<%=user._id%>"><i class="ri-user-line"></i> Profile</a>
                            <a class="dropdown-item" href="/assets"><i class="ri-wallet-fill"></i> My Asset</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"> <i class="ri-logout-box-r-line"></i>Logout</a>
                    
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>

  </header>
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">
				<li class=" active">
				  <a href="/dashboard">
                    <i class="ri-dashboard-line"></i>
					<span>Dashboard</span>
				  </a>
				</li>
                				<li class=" ">
				  <a href="/assets">
					<i class="ri-briefcase-line"></i>
					<span>Assets</span>
				  </a>
				</li>
				<li class=" ">
				  <a href="/market">
                    <i class="ri-pie-chart-line"></i>
					<span>Markets</span>
				  </a>
				</li>
				<li class=" ">
				  <a href="/deposit">
                    <i class="ri-add-circle-line"></i>
					<span>Deposit</span>
				  </a>
				</li>

                <li class=" ">
                    <a href="/depositHistory/<%=user._id%>">
                        <i class="ri-arrow-left-right-fill"></i>
                      <span>Deposit History</span>
                    </a>
                  </li>
                  
                
                <li class=" ">
				  <a href="/withdraw">
					<i class="ri-indeterminate-circle-line"></i>
					<span>Withdrawal </span>
				  </a>
				</li>
                
                <li class=" ">
                    <a href="/widthdrawHistory/<%=user._id%>">
                        <i class="ri-arrow-left-right-fill"></i>
                      <span>Withdrawal history</span>
                    </a>
                  </li>

				<li class=" ">
				  <a href="/buyCrypto">
					<i class="ri-shopping-cart-line"></i>
					<span>Buy Bitcoin</span>
				  </a>
				</li>
               
                
				<li class=" ">
				  <a href="/verify-account">
					<i class="ri-shield-check-fill"></i>
					<span>Verify Account</span>
				  </a>
				</li>
                                			  </ul>
		  </div>
		</div>
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
     <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Deposit</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="ri-home-fill"></i></a></li>
								<li class="breadcrumb-item active" aria-current="page">Deposit</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
			  <div class="col-md-4 col-lg-4 col-sm-12">
				<div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Deposit</h4>
                    </div>
					<div class="box-body">
                        <div id="accordion">
                                                            <div class="box">
                                    <div class="box-header p-1" id="paymentMethod0">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#paymentMethodCollapse0" aria-expanded="true" aria-controls="paymentMethodCollapse0">
                                                                                                    <img src="https://app.mt24fx.online/theme-assets/brand-img/eth.png" width="25px" alt="">
                                                    Ethereum
                                                                                                
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentMethodCollapse0" class="collapse show" aria-labelledby="paymentMethod0" data-bs-parent="#accordion">
                                        <div class="box-body">
                                            <div class="form-group">
                                                
                                                <p class="text-center">
                                                    <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=0x29a7A671A35B32f8D614DfD15C4912653693710B&choe=UTF-8" class="bg-dark"/>
                                                </p>
                                                                                                    <input type="text" class="form-control"  id="walletAddress0"  value="0x29a7A671A35B32f8D614DfD15C4912653693710B">
                                                    <button class="btn btn-outline-secondary col-12 mt-2 copyBtn" data-clipboard-target="#walletAddress0">Tap to copy address</button>
                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="box">
                                    <div class="box-header p-1" id="paymentMethod1">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#paymentMethodCollapse1" aria-expanded="true" aria-controls="paymentMethodCollapse1">
                                                                                                    <img src="https://app.mt24fx.online/theme-assets/brand-img/usdt.png" width="25px" alt="">
                                                    USDT
                                                                                                
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentMethodCollapse1" class="collapse " aria-labelledby="paymentMethod1" data-bs-parent="#accordion">
                                        <div class="box-body">
                                            <div class="form-group">
                                                
                                                <p class="text-center">
                                                    <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=0x29a7A671A35B32f8D614DfD15C4912653693710B&choe=UTF-8" class="bg-dark"/>
                                                </p>
                                                                                                    <input type="text" class="form-control"  id="walletAddress1"  value="0x29a7A671A35B32f8D614DfD15C4912653693710B">
                                                    <button class="btn btn-outline-secondary col-12 mt-2 copyBtn" data-clipboard-target="#walletAddress1">Tap to copy address</button>
                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="box">
                                    <div class="box-header p-1" id="paymentMethod2">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#paymentMethodCollapse2" aria-expanded="true" aria-controls="paymentMethodCollapse2">
                                                                                                    <img src="https://app.mt24fx.online/theme-assets/brand-img/ltc.png" width="25px" alt="">
                                                    Litecoin
                                                                                                
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentMethodCollapse2" class="collapse " aria-labelledby="paymentMethod2" data-bs-parent="#accordion">
                                        <div class="box-body">
                                            <div class="form-group">
                                                
                                                <p class="text-center">
                                                    <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=ltc1qpjvjsjqxmwhcssgttnd6zw9nw58hyevurgwv9e&choe=UTF-8" class="bg-dark"/>
                                                </p>
                                                                                                    <input type="text" class="form-control"  id="walletAddress2"  value="ltc1qpjvjsjqxmwhcssgttnd6zw9nw58hyevurgwv9e">
                                                    <button class="btn btn-outline-secondary col-12 mt-2 copyBtn" data-clipboard-target="#walletAddress2">Tap to copy address</button>
                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="box">
                                    <div class="box-header p-1" id="paymentMethod3">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#paymentMethodCollapse3" aria-expanded="true" aria-controls="paymentMethodCollapse3">
                                                                                                    <img src="https://app.mt24fx.online/theme-assets/brand-img/bch.png" width="25px" alt="">
                                                    Bitcash
                                                                                                
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentMethodCollapse3" class="collapse " aria-labelledby="paymentMethod3" data-bs-parent="#accordion">
                                        <div class="box-body">
                                            <div class="form-group">
                                                
                                                <p class="text-center">
                                                    <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=qzujpe9rrcxasusl5pangrkgmk7xyvadccjkys64rt&choe=UTF-8" class="bg-dark"/>
                                                </p>
                                                                                                    <input type="text" class="form-control"  id="walletAddress3"  value="qzujpe9rrcxasusl5pangrkgmk7xyvadccjkys64rt">
                                                    <button class="btn btn-outline-secondary col-12 mt-2 copyBtn" data-clipboard-target="#walletAddress3">Tap to copy address</button>
                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="box">
                                    <div class="box-header p-1" id="paymentMethod4">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#paymentMethodCollapse4" aria-expanded="true" aria-controls="paymentMethodCollapse4">
                                                                                                    <img src="https://app.mt24fx.online/theme-assets/brand-img/btc.png" width="25px" alt="">
                                                    Bitcoin
                                                                                                
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="paymentMethodCollapse4" class="collapse " aria-labelledby="paymentMethod4" data-bs-parent="#accordion">
                                        <div class="box-body">
                                            <div class="form-group">
                                                
                                                <p class="text-center">
                                                    <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=bc1qkq5ee7hljk7hwj3kfgv8dsmjc67mwpj2xsyzjm&choe=UTF-8" class="bg-dark"/>
                                                </p>
                                                                                                    <input type="text" class="form-control"  id="walletAddress4"  value="bc1qkq5ee7hljk7hwj3kfgv8dsm2m">
                                                    <button class="btn btn-outline-secondary col-12 mt-2 copyBtn" data-clipboard-target="#walletAddress4">Tap to copy address</button>
                                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                    </div>
					</div>
				<!-- /.box-body -->
			    </div>
			  <!-- /.box -->
			  </div>
			  <div class="col-md-8 col-sm-12 col-lg-8">
				<div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Submit Payment</h4>
                    </div>
					<div class="box-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mx-auto p-3">
                                <p>To deposit, choose the payment method panel and make the payment to the displayed address. After payment has been made, come back to fill this form.</p>
                                <form action="/deposit/<%=user._id%>" method="post" enctype="multipart/form-data">
                                                          <div class="form-row">
                                        <div class="form-group">
                                            <label for="payment_method_id">Assets</label>
                                            <select name="type" name="" class="form-control form-control-lg " id="type">
                                                                                                    <option value="bitcoin" >Bitcoin Payment Method</option>
                                                                                                    <option value="ethereum" >Ethereum Payment Method</option>
                                                                                                    <option value="usdt" >Tether Payment Method</option>
                                                                                                    <option value="doge" >Dogecoin Payment Method</option>
                                                                                            </select>
                                                                                    </div>
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input type="text" class="form-control form-control-lg" name="amount" id="amount"placeholder="Amount">
                                                                                    </div>
                                        <div class="form-group">
                                            <label for="proof_of_payment">Proof of payment</label>
                                            <input type="file" class="form-control form-control-lg" name="image" id="image">
                                                                                    </div>
                                        <div class="form-group">
                                            <button class="btn  btn-success col-12"> Deposit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
					</div>
				<!-- /.box-body -->
			    </div>
			  <!-- /.box -->
			  </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Deposits</h4>
                    </div>
					<div class="box-body">
                        <div class="table-responsive-md">
					  <table class="table mb-0">
						<thead>
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Payment Method</th>
							<th scope="col">Amount</th>
							<th scope="col">Status</th>
							<th scope="col">Date</th>
						  </tr>
						</thead>
						<tbody>
                                                            <tr>
                                    <td colspan="4" class="text-center">No record found</td>
                                </tr>
                            						</tbody>
					  </table>
					</div>
					</div>
				<!-- /.box-body -->
			    </div>
              </div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  
 

<%- include('partials/dashboardFooter')%>